@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
         <div class="userprofile-item">
                <div class="userprofile-thumbnail">
                    <img src="~/images/Avatar-Default.jpg" alt="avatar-user" class="userprofile-avatar">
                </div>
                <div class="userprofile-info">
                    <div>Tùy chọn</div>
                </div>
                <i class="bi bi-caret-down-fill expand-user"></i>
            </div>
            <div class="dropdown-options">
                       <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Tài khoản</a>
                       <a asp-area="Identity" asp-page="/Account/Manage/Email" title="Manage">Email</a>
                       <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Manage">Đổi mật khẩu</a>
                        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Đăng xuất</button>
        </form>
            </div>

}
else
{
     <div class="userprofile-item">
                <div class="userprofile-info">
                    <div>Tùy chọn</div>
                </div>
                <i class="bi bi-caret-down-fill expand-user"></i>
            </div>
            <div class="dropdown-options">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
                 <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
            </div>
}
</ul>



