@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Chào mừng bạn đến với web nghe nhạc trực tuyến.</p>
    <img alt="ảnh gif vui" data-original="https://cdn.tgdd.vn/Files/2018/03/31/1078566/2aa25123-82fd-44e8-894a-a58fff098dc1_800x600.gif" title="ảnh gif vui" class=" lazyloaded" src="https://cdn.tgdd.vn/Files/2018/03/31/1078566/2aa25123-82fd-44e8-894a-a58fff098dc1_800x600.gif">
</div>
