@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/style.css">
    <title>BXH</title>
</head>

<body>
    <div class="chart-section">
        <div class="chart-section__header">
            <a href="#">
                Bảng Xếp Hạng
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
        <div class="chart-section__body">
            <div class="chart-list-song">
                <div class="chart-list-song__item">
                    <div class="chart-list-song__info">
                        <div class="number-rating top-1-rating">
                            1
                        </div>
                        <div class="line"></div>

                        <div class="chart-item-info">
                            <div class="chart-item-info__imgBox">
                                <img src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_webp/cover/a/f/2/a/af2a52d9784647085f1466075e96c009.jpg"
                                    alt="song1">
                            </div>
                            <div class="chart-item-info__name">
                                <h4>Sau Này Nếu Có Yêu Ai</h4>
                                <div class="chart-item-info__name-singer">
                                    <a href="#">Tăng Phúc, </a>
                                    <a href="#">Ngô Kiến Huy</a>
                                </div>
                            </div>
                            <!-- Button play when hover item -->
                            <button class="chart-item-play-btn">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                    <div class="chart-item-album">
                        <a href="#">
                            Sau Này Nếu Có Yêu Ai (Single)
                        </a>
                    </div>
                    <div class="chart-item-time">03:13</div>
                </div>

                <div class="chart-list-song__item">
                    <div class="chart-list-song__info">
                        <div class="number-rating top-2-rating">
                            2
                        </div>
                        <div class="line"></div>

                        <div class="chart-item-info">
                            <div class="chart-item-info__imgBox">
                                <img src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_webp/cover/3/a/1/a/3a1aad7f3f927dece72b0d57642f5c8a.jpg"
                                    alt="song2">
                            </div>
                            <div class="chart-item-info__name">
                                <h4>Là Ai Từ Bỏ, Là Ai Vô Tình</h4>
                                <div class="chart-item-info__name-singer">
                                    <a href="#">Hương Ly, </a>
                                    <a href="#">Jombie</a>
                                </div>
                            </div>
                            <!-- Button play when hover item -->
                            <button class="chart-item-play-btn">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                    <div class="chart-item-album">
                        <a href="#">
                            Là Ai Từ Bỏ, Là Ai Vô Tình (Single)
                        </a>
                    </div>
                    <div class="chart-item-time">03:37</div>
                </div>

                <div class="chart-list-song__item">
                    <div class="chart-list-song__info">
                        <div class="number-rating top-3-rating">
                            3
                        </div>
                        <div class="line"></div>

                        <div class="chart-item-info">
                            <div class="chart-item-info__imgBox">
                                <img src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_webp/cover/f/c/2/8/fc28119fe63bad8efc51cdb1f2d13a69.jpg"
                                    alt="song3">
                            </div>
                            <div class="chart-item-info__name">
                                <h4>Thay Lòng</h4>
                                <div class="chart-item-info__name-singer">
                                    <a href="#">DIMZ, </a>
                                    <a href="#">Tvk, </a>
                                    <a href="#">NH4T</a>
                                </div>
                            </div>
                            <!-- Button play when hover item -->
                            <button class="chart-item-play-btn">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                    <div class="chart-item-album">
                        <a href="#">
                            Thay Lòng (Single)
                        </a>
                    </div>
                    <div class="chart-item-time">04:36</div>
                </div>

                <div class="chart-list-song__item">
                    <div class="chart-list-song__info">
                        <div class="number-rating top-default-rating">
                            4
                        </div>
                        <div class="line"></div>

                        <div class="chart-item-info">
                            <div class="chart-item-info__imgBox">
                                <img src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_webp/cover/1/7/d/f/17df138d6b0c38c8a07ee502a49573cd.jpg"
                                    alt="song">
                            </div>
                            <div class="chart-item-info__name">
                                <h4>Cưa là đổ</h4>
                                <div class="chart-item-info__name-singer">
                                    <a href="#">Phát Hồ, </a>
                                    <a href="#">X2X</a>
                                </div>
                            </div>
                            <!-- Button play when hover item -->
                            <button class="chart-item-play-btn">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                    <div class="chart-item-album">
                        <a href="#">
                            Cưa là đổ (Single)
                        </a>
                    </div>
                    <div class="chart-item-time">03:31</div>
                </div>

                <div class="chart-list-song__item">
                    <div class="chart-list-song__info">
                        <div class="number-rating top-default-rating">
                            5
                        </div>
                        <div class="line"></div>

                        <div class="chart-item-info">
                            <div class="chart-item-info__imgBox">
                                <img src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_webp/cover/b/6/9/d/b69dc87af076d5e022064e68fc0a81c1.jpg"
                                    alt="song">
                            </div>
                            <div class="chart-item-info__name">
                                <h4>Thì thôi</h4>
                                <div class="chart-item-info__name-singer">
                                    <a href="#">Tvk, </a>
                                    <a href="#">Nal, </a>
                                    <a href="#">93NEW-G</a>
                                </div>
                            </div>
                            <!-- Button play when hover item -->
                            <button class="chart-item-play-btn">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                    <div class="chart-item-album">
                        <a href="#">
                            Thì thôi (Single)
                        </a>
                    </div>
                    <div class="chart-item-time">04:08</div>
                </div>
            </div>
        </div>
    </div>
    
<script src="~/js/scripts.js"></script>
</body>

</html>
