@page "/admin/"
@model WebMusic_Auth.Areas.Admin.Pages.Index.IndexModel
 <div class="row gx-xl-3 justify-content-center">
                <div class="col text-center">
                    <h2 class="m-0 text-center">Quản trị hệ thống</h2>
                    <br>
                    <p class=" text-center ">Chào mừng bạn trở lại.</p>
                    <img src="~/images/Photo_giao_dien.png" style="width:50%"/>
                </div>
            </div>
