@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="register">
                <div class="col">
                    <h2 class="m-0 text-center">Tạo tài khoản thành công</h2>
                    <br>
                    <p class=" text-center ">Truy cập vào email để <b>Kích hoạt tài khoản</b>.</p>
                </div>
            </div>
