@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "CHÚC MỪNG!";
}

<br/>
<h1>@ViewData["Title"]</h1>
<h4>
    Bạn đã tạo mật khẩu mới thành công, vui lòng <a asp-page="./Login">đăng nhập</a>.
</h4>


