@model IEnumerable<WebMusic_Auth.Models.PlaylistModel>

@{
    ViewData["Title"] = "Playlist";
}
<body>
    <section class="pt-5 pl-5">
        <div class="container px-xl-0">
            <!-- Page Features-->
            <div class="row gx-xl-0 justify-content-center">
                <div class="col-lg-4 col-xl-4 ml-0 text-center">
                    <img id="avatar" src="../../images/avata.jpg" alt="Photo" width="40%">
                </div>
            </div>
            <div class="row gx-xl-0 justify-content-center">
                <div class="col-lg-8  col-xl-8 mt-3 text-center">
                    <h2>Tên User</h2>
                </div>
            </div>
            <div class="row gx-xl-3 justify-content-center mt-5">
                <div class="col-lg-2 text-center">
                    <button class="btn btn-success">Playlist của tôi</button>
                </div>
                <div class="col-lg-2 text-center">
                    <a href="/Individual/Listened"><button class="btn btn-success">Đã nghe</button></a>
                </div>
                <div class="col-lg-2 text-center">
                    <a href="/Individual/Love"><button class="btn btn-success">Yêu thích</button></a>
                </div>
            </div>

            <div class="row gx-xl-3 justify-content-center mt-5">
                <div class="col-lg-8 col-xl-8 mb-5 text-center">
                    <div class="card border-left-info shadow h-100 py-0">
                        <div class="card-body text-center p-4 p-lg-0 pt-0 pt-lg-4">
                            <div class="table-responsive">
                                <table class="table table-hover text-left">
                                    <tbody id="table_1">
                                        @*<tr>
                                            <th>Tên Playlist</th>
                                            <th>Mã Playlist</th>
                                            
                                        </tr>*@

                                        @foreach (var item in Model)
                                        {
                                            
                                     
                                      <tr>
                                            <td class="Anh">
                                                <img class="avatar_table" src="../../images/avata.jpg" alt="BH">
                                            </td>
                                            <td class="name">
                                                <dl>
                                                    <dt>@item.PName</dt>
                                                    <dd class="TacGia">@ViewBag.SL bài hát</dd>
                                                </dl>

                                            </td>
                                            <td>
                                                <span id="Control1">
                                                    <Button onclick="Play(1)" class="btn btn-primary"><i class="bi bi-play"></i></Button>
                                                </span>
                                            </td>
                                            <td>
                                                <Button class="btn btn-danger">Xoá</Button>
                                                <Button class="btn btn-success">Sửa</Button>
                                                <select class="form-select" aria-label="@item.PStatus" onclick="Luu(1)">
                                                <option value="1">Công khai</option>
                                                <option value="2">Riêng tư</option>
                                              </select>
                                                <span id="NutLuu1"></span>

                                            </td>
                                        </tr>
                                       }
                                       @* <tr>
                                            <td class="Anh">
                                                <img class="avatar_table" src="../../images/avata.jpg" alt="BH">
                                            </td>
                                            <td class="name">
                                                <dl>
                                                    <dt>Playlist 2</dt>
                                                    <dd class="TacGia">100 bài hát</dd>
                                                </dl>

                                            </td>
                                            <td>
                                                <span id="Control2">
                                                    <Button onclick="Play(2)" class="btn btn-primary"><i class="bi bi-play"></i></Button>
                                                </span>

                                            </td>
                                            <td>
                                                <Button class="btn btn-danger">Xoá</Button>
                                                <Button class="btn btn-success">Sửa</Button>
                                                <select class="form-select" aria-label="Trạng Thái" onclick="Luu(2)">
                                                <option value="1">Công khai</option>
                                                <option value="2">Riêng tư</option>
                                              </select>
                                                <span id="NutLuu2"></span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Anh">
                                                <img class="avatar_table" src="../../images/avata.jpg" alt="BH">
                                            </td>
                                            <td class="name">
                                                <dl>
                                                    <dt>Playlist 1</dt>
                                                    <dd class="TacGia">100 bài hát</dd>
                                                </dl>

                                            </td>
                                            <td>
                                                <span id="Control3">
                                                    <Button onclick="Play(3)" class="btn btn-primary"><i class="bi bi-play"></i></Button>
                                                </span>

                                            </td>
                                            <td>
                                                <Button class="btn btn-danger">Xoá</Button>
                                                <Button class="btn btn-success">Sửa</Button>
                                                <select class="form-select" aria-label="Trạng Thái" onclick="Luu(3)">
                                                <option value="1">Công khai</option>
                                                <option value="2">Riêng tư</option>
                                              </select>
                                                <span id="NutLuu3"></span>

                                            </td>
                                        </tr>*@

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>